body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding-top: 80px; /* Platz für den fixierten Header */
}

#images img {
    width: 100%;
    height: auto;
    display: block;
}

#about {
    padding: 20px;
    text-align: justify;
    background-color: #fff; /* Hintergrundfarbe für den Textbereich */
    margin-top: -80px; /* Verschiebung des Textbereichs über das obere Bild */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
